<%- include("./partialls/header.ejs") %>

    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Title</label>
              <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  >
               
            </div>
        
            <div class="form-floating mb-3">
                <textarea class="form-control" name="description" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Description</label>
            </div>

            <div class="mb-3">
                <label for="formFile" class="form-label">Thumbnail</label>
                <input class="form-control" name="thumbnail" type="file" accept='image/jpg, image/png' id="formFile" required>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Video</label>
                <input class="form-control" name="video" type="file" accept="video/mp4, video/avi, video/mpg" id="formFile" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>


<%- include("./partialls/footer.ejs") %>