<%- include("./partialls/header.ejs") %>

<div class="video-wrapper">
    <video class="video-control" controls autoplay width="400" height="300">
        <source src="<%- video_url %>" type="video/mp4">
        <source src="" type="video/mpeg">
        <source src="" type="video/x-msvideo">
    </video> 
</div>

<%- include("./partialls/footer.ejs") %>